$font-stack:  'Hind', Helvetica,  sans-serif;
$primary-font-color: #333;
$secondary-font-color: #E1E2DF;
$header-footer-color: #265670;

body {
  font-family: $font-stack;
  background-color: #DEE7E7;
  margin: 0 auto;
  padding: 40px;
  line-height: 2em;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  padding-top: 1em;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  padding-top: 1em;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  padding-top: 1em;
}

th {
  font-size: 20px;
  font-weight: bold;
  padding-top: 1em;

}

td {
  font-size: 17px;
  font-weight: bold;
  padding-top: 1em;
}
