<h1>Your Emergency Tweet Was Sent</h1>
  <h2>History</h2>
{{#emergencyTweet}}
<div class="CSSTableGenerator" >
  <table>
      <th>Message</th>
      <th>Sent To</th>
    <tr>
      <td>{{message}}</td>
      <td>{{phoneNumber}}</td>
    </tr>
  </table>
</div>
{{/emergencyTweet}}
