<h1>Hashtags</h1>

<a href="/logout"><button class="button">Logout</button></a>

      {{#hashtag}}
      <article class="hashtags">
        <a href="/users/send/?hashtag={{hashtag}}">{{hashtag}}</a>
      </article>
      {{/hashtag}}
    </h3>
