<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Hind:500' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <nav>
        <ul class ="nav">
        <li class ="search"><a href="/search">Search for Hashtags </a></li>
        <li class ="confirm"><a href="/confirmation">History</a></li>
        <li class= "logout"><a href="/logout">Logout</a></li>
      </ul>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>
