<h1>Search for a Hasthag</h1>

<form  action="/search" method="post">

<label for="hashtag">Twitter Hashtag #</label>
<input type="text" name="hashtag" id="hashtag" value="">


<input type="submit" name="submit" value="Submit">
</form>
