
{{#tweets}}
  <article class="">
    <p>
      {{screen_name}}
      {{created_at}}
      {{text}}
    </p>
  </article>
{{/tweets}}






<form  action="/send" method="post">

<label for="phoneNumber">Phone Number</label>
<input type="text" name="phoneNumber" id="hashtag" value="">

<input type="submit" name="submit" value="Submit">
</form>
