<h2>This is the users.hbs view page</h2>
<h3>It will display the latest tweets from the user's hashtag searh</h3>
<a href="/logout"><button class="button">Logout</button></a>

{{#tweets}}
  <article class="">
    <p>
      {{screen_name}}
      {{created_at}}
      {{text}}
    </p>
  </article>
{{/tweets}}
